/*!
Fluid UI Elements v3.1.0

Copyright (c) 2017-2019 jottocraft

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
 */
body.dark.darkNew {
 --flex-light: #313131;
--flex-bg: rgb(23, 23, 23);
--flex-text: white;
--flex-sectext: #5f5f5f;
--flex-layer1: rgb(33, 33, 33);
--flex-layer2: rgb(29, 29, 29);
--flex-layer3: rgb(16, 16, 16);
--theme-color: #0c4d82;
--theme-color-outline: #0c4d82C0;
--theme-text-color: #def0ff;
}

/*  Theme Colors */
:root {
  --theme-color: #3396e6;
  --theme-color-outline: #3396e6C0;
  --theme-text-color: white;
}

/*  Dark theme colors */
body.dark {
  --theme-color: #0c4d82;
  --theme-color-outline: #0c4d82C0;
  --theme-text-color: #def0ff;
}

/*  Light theme colors */
body:not(.dark) {
  --theme-color: #3396e6;
  --theme-color-outline: #3396e6C0;
  --theme-text-color: white;
}

body.hasSidebar {
  padding-left: 275px;
}

/*

Fluid Elements

*/
body {
  transition: background-color 0.5s;
}
@font-face {
  font-family: 'Material Icons Outline';
  font-style: normal;
  font-weight: 400;
  src: url(outline.woff2) format('woff2');
}
.theme {
  color: var(--theme-text-color) !important;
  background-color: var(--theme-color) !important;
}
body.city.dark {
  --flex-light: #18163e;
      --flex-bg: #0d0d1f;
      --flex-text: white;
      --flex-sectext: #454561;
      --flex-layer1: #11112b;
      --flex-layer2: #030117;
      --flex-layer3: black;
      --theme-color: #333f79;
      --theme-color-outline: rgb(51, 63, 121, 0.75);
      --theme-text-color: #080721;
}
body.highContrast:not(.dark) {
  --flex-light: #dcdcdc;
--flex-bg: rgb(255, 255, 255);
--flex-text: black;
--flex-sectext: #000000;
--flex-layer1: rgb(183, 183, 183);
--flex-layer2: rgb(158, 158, 158);
--flex-layer3: #737373;
--theme-color: rgb(0, 0, 0);
--theme-color-outline: rgba(0, 0, 0, 0.75);
--theme-text-color: rgb(255, 255, 255);
}
body.nitro.dark {
  --flex-light: #b72b2b;
  --flex-bg: rgb(127, 1, 1);
  --flex-text: white;
  --flex-sectext: #ff9c9c;
  --flex-layer1: rgb(154, 33, 33);
  --flex-layer2: rgb(132, 15, 15);
  --flex-layer3: #5f0b0b;
  --theme-color: rgb(243, 110, 110);
  --theme-color-outline: rgb(243, 110, 110, 0.75);
  --theme-text-color: rgb(104, 0, 0);
}
body.aquatic.dark {
  --flex-light: rgb(90, 189, 182);
  --flex-bg: rgb(15, 162, 162);
  --flex-text: white;
  --flex-layer1: rgb(48, 171, 165);
  --flex-layer2: rgb(20, 138, 134);
  --flex-layer3: #0a6765;
  --theme-color: #99eadf;
  --theme-color-outline: #c6e7e2c0;
  --theme-text-color: #0e958b;
  --flex-sectext: #a3ded5;
}
body.midnight.dark {
  --flex-light: #1b1b1b;
  --flex-bg: #000000;
  --flex-text: #bfbfbf;
  --flex-layer1: #171717;
  --flex-layer2: #0c0c0c;
  --flex-layer3: #060606;
  --theme-color: #232323;
  --theme-color-outline: #171717c0;
  --theme-text-color: #c0c0c0;
  --flex-sectext: gray;
}
body.darkRed {
  --flex-light: #da191e;
          --flex-bg: #ce0d12;
          --flex-text: white;
          --flex-sectext: #d98c8f;
          --flex-layer1: #a70004;
          --flex-layer2: #8e0004;
          --flex-layer3: #740003;
          --theme-color: white;
          --theme-color-outline: #ffffffc0;
          --theme-text-color: #da191e;
    }
    body.darkOrange {
      --flex-light: #e38319;
              --flex-bg: #d7770d;
              --flex-text: white;
              --flex-sectext: #d9c18c;
              --flex-layer1: #b05d00;
              --flex-layer2: #974f00;
              --flex-layer3: #7d4200;
              --theme-color: white;
              --theme-color-outline: #ffffffc0;
              --theme-text-color: #e38319;
      }
      body.darkYellow {
        --flex-light: #c19719;
                --flex-bg: #b58b0d;
                --flex-text: white;
                --flex-sectext: #d9cb8c;
                --flex-layer1: #8e6b00;
                --flex-layer2: #755800;
                --flex-layer3: #5b4500;
                --theme-color: white;
                --theme-color-outline: #ffffffc0;
                --theme-text-color: #c19719;
          }
          body.darkGreen {
                  --flex-light: #50c319;
                    --flex-bg: #44b70d;
                    --flex-text: white;
                    --flex-sectext: #a8d98c;
                    --flex-layer1: #2f9000;
                    --flex-layer2: #267700;
                    --flex-layer3: #1e5d00;
                    --theme-color: white;
                    --theme-color-outline: #ffffffc0;
                    --theme-text-color: #50c319;
              }
              body.darkBlue {
                      --flex-light: #196fff;
                        --flex-bg: #0d63ff;
                        --flex-text: white;
                        --flex-sectext: #8cb7d9;
                        --flex-layer1: #004dda;
                        --flex-layer2: #0044c1;
                        --flex-layer3: #003ba7;
                        --theme-color: white;
                        --theme-color-outline: #ffffffc0;
                        --theme-text-color: #196fff;
                  }
                  body.darkNavyBlue {
                    --flex-light: #191999;
                            --flex-bg: #0d0d8d;
                            --flex-text: white;
                            --flex-sectext: #9292b9;
                            --flex-layer1: #000066;
                            --flex-layer2: #00004d;
                            --flex-layer3: #000033;
                            --theme-color: white;
                            --theme-color-outline: #ffffffc0;
                            --theme-text-color: #191999;
                      }
                  body.darkPurple {
                    --flex-light: #c319ff;
                            --flex-bg: #b70dff;
                            --flex-text: white;
                            --flex-sectext: #d98cd9;
                            --flex-layer1: #9800d8;
                            --flex-layer2: #8600bf;
                            --flex-layer3: #7400a5;
                            --theme-color: white;
                            --theme-color-outline: #ffffffc0;
                            --theme-text-color: #c319ff;
                      }


/* Product Sans */
@font-face {
  font-family: 'Product sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fluid.js.org/product-sans.ttf) format('truetype');
}
@font-face {
  font-family: 'Google sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fluid.js.org/gsans.ttf) format('truetype');
}
html {
    font-family: "Google sans", sans-serif;
    font-weight: normal;
}
/* Little Caesar */
@font-face {
  font-family: 'Pizza Pizza';
  font-style: normal;
  font-weight: 400;
  src: url(https://fluid.js.org/caesar.ttf) format('truetype');
}
@font-face {
  font-family: 'Holiday';
  font-style: normal;
  font-weight: 400;
  src: url(holiday.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons Extended';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5 {
    font-family: "Product sans", sans-serif;
	font-weight: normal;
}
h1, h2, h3 {
    font-weight: bold;
}
p, div, button, a, span, input, body, html, textarea {
  font-family: "Google sans", sans-serif;
  font-weight: normal;
}
p i {
  vertical-align: middle;
  font-size: 20px;
  margin: 0px 2px;
}
img.emoji {
  height: 1em;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.align {
  display: inline-block;
  vertical-align: middle;
}
.icotext i, .icotext span {
  display: inline-block;
  vertical-align: middle;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    opacity: 80px;
}


::-webkit-scrollbar-thumb {
    background: var(--flex-sectext, #707275);
    opacity: 90px;
    border-radius: 20px;
}

/*Page dark mode */
body { overflow-x: hidden; }
body.dark {
    background-color: var(--flex-bg, #252525);
    color:var(--flex-text, #FFFFFF);
}
body:not(.dark) {
    background-color: var(--flex-bg, #FFFFFF);
    color:var(--flex-text, black);
}
body.litleceser,body.litleceser h1, body.litleceser h2, body.litleceser h3, body.litleceser h4, body.litleceser h5  {
  font-family: "Pizza Pizza", cursive;
}
body.litleceser {
  --flex-light: #ff6b00;
    --flex-bg: #f46600;
    --flex-text: white;
    --flex-layer1: #ce5601;
    --flex-layer2: #b34b01;
    --flex-layer3: #7a3402;
}

/* Sweetalert dark mode */
body.dark .swal-icon--success:after, body.dark .swal-icon--success:before, body.dark .swal-icon--success__hide-corners {
  background: var(--flex-layer1, #1b1b1b) !important;
}
body.dark .swal-title, body.dark .swal-text {
  color: #FFF;
}
body.dark .swal-modal {
  background-color: var(--flex-layer1, #1b1b1b);
}
/* Materialize dark theme patches */
body.dark table.striped > tbody > tr:nth-child(odd) {
    background-color: var(--flex-layer1, #1b1b1b);
}
body:not(.dark) table.striped > tbody > tr:nth-child(odd) {
    background-color: var(--flex-layer2, #f2f2f2);
}

body:not(.dark) table.highlight > tbody > tr:hover {
    background-color: var(--flex-layer2, #f2f2f2);
}
body.dark table.highlight > tbody > tr:hover {
    background-color: var(--flex-layer1, #1b1b1b);
}

body:not(.dark) .chip {
    color: rgba(0,0,0,0.6);
    background-color: #e4e4e4;
}
body.dark .chip {
    color: #FFFFFF;
    background-color: var(--flex-layer1, #1b1b1b);
}
body:not(.dark) .collection .collection-item {
  background-color: #FFFFFF;
  border-bottom: 1px solid #e0e0e0;
  color: black;
}
body.dark .collection .collection-item {
  background-color:var(--flex-layer1, #1b1b1b);
  border-bottom: 1px solid #161616;
  color: white;
}
body:not(.dark) .collection {
  border: 1.4px solid #e0e0e0
}
body.dark .collection {
  border: 1.4px solid #161616
}
body:not(.dark) .collection a.collection-item:not(.active):hover {
    background-color: #ddd
}
body.dark .collection a.collection-item:not(.active):hover {
    background-color: var(--flex-layer3, #151515)
}
body:not(.dark) .collection.with-header .collection-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}
body.dark .collection.with-header .collection-header {
    background-color:var(--flex-layer1, #1b1b1b);
    border-bottom: 1px solid #161616;
}
body:not(.dark) .page-footer {
    color: black;
    background-color: var(--flex-layer2, #f7f7f7);
}
body.dark .page-footer {
    color: white;
    background-color: var(--flex-layer1, #1b1b1b);
}
body.dark .page-footer .footer-copyright {
  background-color: var(--flex-layer3, #151515);
}
body:not(.dark) .page-footer .footer-copyright {
  background-color: #e0e0e0;
}
body:not(.dark) .pagination li:not(.active) a {
    color: #444;
}
body.dark .pagination li a {
    color: #FFFFFF;
}
.body:not(.dark) .collapsible-header {
    background-color: #fff;
    border-bottom: 1px solid #272728;
}
.body.dark .collapsible-header {
    background-color: var(--flex-layer1, #1b1b1b);
    border-bottom: 1px solid #161616;
}
body:not(.dark) .dropdown-content {
background-color:#FFFFFF;
color: #000000;
}
body.dark .dropdown-content {
color: #FFFFFF;
background-color:var(--flex-layer1, #1b1b1b);
}
body:not(.dark) .dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: #eee
}

body:not(.dark) .dropdown-content li.active.selected {
    background-color: #e1e1e1
}
body.dark .dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: var(--flex-layer3, #151515)
}

body.dark .dropdown-content li.active.selected {
    background-color: var(--flex-layer3, #151515)
}
body:not(.dark) .tap-target {
  background-color:var(--flex-layer2, #f2f2f2);
  color:black;
}
body.dark .tap-target {
  background-color:var(--flex-layer1, #1b1b1b);
  color:white;
}
body:not(.dark)  .tap-target-wave::before, .tap-target-wave::after {
background-color: #FFFFFF;
}
body.dark  .tap-target-wave::before, .tap-target-wave::after {
background-color: var(--flex-layer3, #151515);
}
body:not(.dark) .modal {
    background-color: #fafafa;
}
body.dark .modal {
    background-color: var(--flex-layer1, #1b1b1b);
}
body:not(.dark) .side-nav {
  color:black;
  background-color: #FFFFFF;
}
body.dark .side-nav {
  color:white;
  background-color:var(--flex-layer1, #1b1b1b);
}
body:not(.dark) .side-nav li.active, body:not(.dark) .side-nav li > a:hover {
    background-color: rgba(0,0,0,0.05)
}

body:not(.dark) .side-nav li > a {
    color: rgba(0,0,0,0.87);
}
body.dark .side-nav li.active, body.dark .side-nav li > a:hover {
    background-color: var(--flex-layer3, #151515);
}

body.dark .side-nav li > a {
    color: #FFFFFF;
}

/* Buttons */
button:focus {outline:0;}
.btn, select {
  cursor: pointer;
  font-family: "Google sans";
    border: none;
    outline: none;
    padding: 12px 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.4s, box-shadow 0.4s, color 0.4s;
    user-select: none;
    vertical-align: middle;
    margin: 0px 5px;
    font-weight: bold;
    letter-spacing: 0.9px;
  }
  .btn.outline, select.outline {
	  background-color: inherit !important;
	  padding: 10px 28px;
	  border: 2px solid;
  }
  .btn.small, select.small {
	  padding: 10px 20px;
	  font-size: 14px;
  }
  .btn.small.outline, select.small.outline {
	  padding: 8px 18px;
	  border: 2px solid;
  }
  .btn i {
    display: inline-block;
    vertical-align: middle;
    margin-top:-10px;
    margin-bottom:-7px;
    margin-right: 5px;
    font-size: 26px;
    line-height: inherit;
  }
  .switch {
    border-radius: 25px;
    display: inline-block;
    width: 50px;
    height: 25px;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 0.4s;
    box-shadow: none !important;
  }
  .switch .head {
    transition: background-color 0.4s, box-shadow 0.4s, margin 0.4s;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2.5px;
    position: absolute;
  }
  .switch.active .head {
    margin-left: 27.5px;
    background-color: var(--theme-text-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
  }
  .label {
    line-height: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
  }
  .slider {
  -webkit-appearance: none;
  height: 25px;
  outline: none;
  border-radius: 7px;
  min-width: 200px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--theme-color);
  cursor: pointer;
  border-radius: 7px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--theme-color);
  cursor: pointer;
  border-radius: 7px;
}
  .list .item i {
    display: inline-block;
    vertical-align: middle;
    margin-top:-10px;
    margin-bottom:-10px;
    margin-right: 7px;
    font-size: 26px;
    line-height: inherit;
  }
  #activecontextmenu i.outOfContext {
    padding: 12px;
    border-radius: 30px;
    margin-top: -13px;
    margin-left: -13px;
  }
  body.dark .btn:not(.active):hover {
    background-color: var(--flex-layer2, #151515);
	border-color:  var(--flex-layer2, #151515);
  }
  .btns .btn:not(.active):hover {
    box-shadow: none !important;
  }
  body:not(.dark) .btn:not(.active):hover {
    background-color: var(--flex-layer2, #dddddd);
	border-color: var(--flex-layer2, #dddddd);
  }
  .row:not(.btns) .btn {
    margin-right: 10px;
  }
  body:not(.dark) .btn:not(.active), body:not(.dark) .btns.row, body:not(.dark) .switch:not(.active), body:not(.dark) .directory span:hover, body:not(.dark) .slider, body:not(.dark) select, body:not(.dark) .element:not(.theme) {
  background-color: var(--flex-layer1, #ececec);
  border-color: var(--flex-layer1, #ececec);
      color: #404040;
    }
    body.dark .btn:not(.active), body.dark .switch:not(.active), body.dark .btns.row, body.dark .directory span:hover, body.dark .slider, body.dark select, body.dark .element:not(.theme) {
    background-color: var(--flex-layer1, #1b1b1b);
	border-color: var(--flex-layer1, #1b1b1b);
        color: white;
      }
      .btns.row .btn {
        margin: 0;
      }
    .btns .btn:not(.active) {
      background-color: transparent !important;
    }
        .btns {
          width:auto;
          display: inline-block;
          padding: 5px;
          border-radius: 10px;
          margin-left: 5px;
        }

  body .btn.active, body .switch.active, body .btn.active:hover, body .list .item.active, body .list .item.active:hover {
  background-color: var(--theme-color);
      color: var(--theme-text-color);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
    }


body.dark .tabs .indicator {
    background-color: #FFFFFF;
}
body.dark .tabs .tab a:hover, body.dark .tabs .tab a.active, body.dark .tabs .tab a {
    color: #FFFFFF
}
body:not(.dark) .tabs .indicator {
    background-color: #000000;
}
body:not(.dark) .tabs .tab a:hover, body:not(.dark) .tabs .tab a.active, body:not(.dark) .tabs .tab a {
    color: #000000
}



/* Nav  */
.nav {
display: inline-block;
margin: 15px;
border-radius: 10px;
user-select: none;
}
.nav.right {
  float: right !important;
}
.card.nav {
  padding: 5px;
  max-width: 100%;
  margin: 0;
  text-align: center;
}
.card.nav li {
  border-radius: 22px;
  font-size: 20px;
  padding: 5px 10px;
  background-color: transparent !important;
  border: none !important;
}
.card.nav li i, .card.nav li span {
  vertical-align: middle;
}
.nav.sticky, .navbar.sticky {
  position: fixed;
  top: 0;
}
.nav.sticky.right {
  right: 0;
}
.nav.navbar h1,.nav.navbar h2,.nav.navbar h3,.nav.navbar h4,.nav.navbar h5 {
  float:left;
  display:inline-block;
  margin:0  !important;
  line-height: 55px !important;
}
.navbar.nav img {
  float:left;
  margin-right: 10px;
  height: 55px
}
.nav.navbar {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.nav li {
  margin: 2px 7px;
  border-radius: 30px;
  transition: background-color 0.4s, box-shadow 0.4s, color 0.4s;
  cursor: pointer;
  padding: 12px;
}
.nav span {
  margin-left: 5px;
  vertical-align: middle;
}
.nav li i {
  display: inline-block;
  vertical-align: middle;
}
.directory span {
  vertical-align: middle;
  padding: 4px 6px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
.directory span.active {
  font-weight: bold;
}
.directory i {
  vertical-align: middle;
  margin: 0px 2px;
}
.card.withnav {
  padding: 0px;
  overflow: hidden;
}
.sidebar {
	height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 275px;
  border-right: 2px solid;
  padding: 25px 0px 0px 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.17);
}
.sidebar h4 {
  text-align: center;
  font-weight: bold;
  margin: 10px 0px 25px 0px;
  font-size: 27px;
}
.sidebar .item {
  border: none;
  padding: 0px;
  opacity: 0.95;
  display: inline-block;
  border-radius: 15px;
  padding-right: 0px;
  padding-left: 10px;
  overflow: hidden;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  line-height: 50px;
  width: 250px;
  height: 50px;
  margin: 5px 0;
  transition: background-color 0.5s;
}
.sidebar .item.active {
  background-color: var(--theme-color);
  color: var(--theme-text-color);
}
.sidenav {
  width: 240px;
  height: 100%;
  display: inline-block;
  transition: background-color 0.4s;
  float:left;
}
.card.withnav .content {
  padding: 20px;
  padding-left: 260px;
}
.sidenav .title {
  padding: 20px;
  padding-top: 32px;
  height: 135px;
}
.sidenav .title h5 {
  font-size: 24px;
  height: 40px;
  margin: 0;
  line-height: 40px;
}
.sidenav .title p {
  margin: 0px;
}
.sidenav .item {
  cursor: pointer;
  transition: color 0.2s;
  height: 55px;
  line-height: 55px;
  padding-left: 25px;
  font-weight: bold;
  letter-spacing: 0.9px;
}
.sidenav .item i {
  margin-right: 15px;
  vertical-align: middle;
  font-size: 26px;
}
body:not(.dark) .sidenav, body:not(.dark) .sidebar {
  background-color: var(--flex-layer2, #f2f2f2);
  border-color:  var(--flex-layer2, #f2f2f2);
}
body:not(.dark) .sidenav .item:not(.active) {
  color:var(--flex-light,  #b9b9b9);
}
body:not(.dark) .sidenav .item.active {
  color: black;
  background-color: var(--flex-layer2, #efefef);
}
body.dark .sidenav, body.dark .sidebar {
  background-color: var(--flex-layer2, #1d1d1d);
  border-color: var(--flex-layer2, #1d1d1d);
}
body.dark .sidenav .item:not(.active) {
  color: var(--flex-light, #656565);
}
body.dark .sidenav .item.active {
  color: var(--flex-text, white);
  background-color: var(--flex-layer2, #1b1b1b);
}




.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav:not(.card) ul {
  margin-top: 7px;
  margin-bottom: 0;
}
.nav.card ul {
  margin: 3px;
}
body.dark .nav {
  border: 1.4px solid var(--flex-layer1, #1b1b1b);
  background-color: var(--flex-layer1, #1b1b1b);
}
body:not(.dark) .nav {
background-color: var(--flex-light, #fcfcfc);
}
body:not(.dark) .nav a {
  color:black;
}
.nav a i {
  font-size: 20px;
  margin:0
}
.nav {
  padding:10px;z-index:99;
}
.nav ul {
  white-space: nowrap;
  overflow: auto;
  list-style-type: none;padding:0
}
.nav ul li {
    display: inline-block;
}
body:not(.dark) .nav li:not(.active) {
  background-color: #ededed
}
body.dark .nav li:not(.active) {
  background-color: #2c3135
}
body:not(.dark) .nav li.active {
  background-color: #4c4c4c;
  color: white;
}
body:not(.dark) .nav li.active span {
  color: white;
}
body.dark .nav li.active {
  background-color: #ededed;
  color: black;
}
body.dark .nav li.active {
  background-color: rgb(237, 237, 237, 0.8);
  border: 1.4px solid var(--flex-layer3, #dddddd);
  color: black;
}

body.dark .nav li.active span {
  color: black;
}
body:not(.dark) .nav li.active i {
  color: white;
}
body.dark .nav li.active i {
  color: black;
}
body.dark .nav a {
  color: var(--flex-sectext, #9e9e9e) !important;
}
body:not(.dark) .nav a {
  color: var(--flex-sectext, #545454) !important;
}



input:not([type=submit]):not([type=color]):not([type=range]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]), textarea {
  width: 400px;
  margin-bottom: 30px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right:7px;
  opacity: 0.95;
  border: none;
  outline: none;
  height: 48px;
  margin-bottom: 20px;
  transition: background-color 0.4s, box-shadow 0.3s, color 0.4s;
}
input.inputIcon {
  padding-left: 40px !important;
}
i.inputIcon {
  position: absolute;
  z-index: 99;
  padding: 12px 10px;
}
input:not([type=color]):not([type=range]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]):not(.noshadow):focus, textarea:not(.noshadow):focus {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input:not([type=color]):not([type=range]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]).shadow, textarea.shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
body:not(.dark) input:not([type=color]):not([type=range]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]).shadow, body:not(.dark) textarea.shadow {
  background-color: white;
}
input::placeholder {
  color: var(--flex-sectext, gray);
}
textarea {
  padding:10px;
  overflow:hidden;
}
.white-text {
  color:white;
}
body:not(.dark) textarea, body:not(.dark) .fluid.element, body:not(.dark) input:not([type=color]):not([type=range]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]) {
    background-color: var(--flex-layer1, #efefef);
    color: black;
}
body.dark textarea, body.dark .fluid.element, body.dark input:not([type=color]):not([type=range]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]) {
    background-color: var(--flex-layer1, #1b1b1b);
    color: white;
}
body:not(.dark) .chips {
    background-color:var(--flex-layer2, #f2f2f2);
    color: black;
}
body.dark .chips {
    background-color:var(--flex-layer1, #1b1b1b);
    color: white;
}
.chips {
  text-align:left;
}


  /* Fluid Loader */
  .bubblingG {
      text-align: center;
      width: 250px;
      height: 156px;
      margin: auto;
  }

      .bubblingG span {
          display: inline-block;
          vertical-align: middle;
          width: 31px;
          height: 31px;
          margin: 78px auto;
          background: #00ff6a;
          border-radius: 156px;
          -o-border-radius: 156px;
          -ms-border-radius: 156px;
          -webkit-border-radius: 156px;
          -moz-border-radius: 156px;
          animation: bubblingG 0.975s infinite alternate;
          -o-animation: bubblingG 0.975s infinite alternate;
          -ms-animation: bubblingG 0.975s infinite alternate;
          -webkit-animation: bubblingG 0.975s infinite alternate;
          -moz-animation: bubblingG 0.975s infinite alternate;
      }

  #bubblingG_1 {
      animation-delay: 0s;
      -o-animation-delay: 0s;
      -ms-animation-delay: 0s;
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
  }

  #bubblingG_2 {
      animation-delay: 0.2895s;
      -o-animation-delay: 0.2895s;
      -ms-animation-delay: 0.2895s;
      -webkit-animation-delay: 0.2895s;
      -moz-animation-delay: 0.2895s;
  }

  #bubblingG_3 {
      animation-delay: 0.589s;
      -o-animation-delay: 0.589s;
      -ms-animation-delay: 0.589s;
      -webkit-animation-delay: 0.589s;
      -moz-animation-delay: 0.589s;
  }



  @keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          transform: translateY(-66px);
      }
  }

  @-o-keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          -o-transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          -o-transform: translateY(-66px);
      }
  }

  @-ms-keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          -ms-transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          -ms-transform: translateY(-66px);
      }
  }

  @-webkit-keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          -webkit-transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          -webkit-transform: translateY(-66px);
      }
  }

  @-moz-keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          -moz-transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          -moz-transform: translateY(-66px);
      }
  }

.hidden {
  display:none !important;
}

/* Sections */
.section {
  border-radius: 30px;
  margin-bottom: 15px;
  transition: background-color 0.4s !important;
}
.section.collapse .header, .section.collapse .header h1, .section.collapse .header h2, .section.collapse .header h3, .section.collapse .header h4, .section.collapse .header h5, .section.collapse .header h6  {
  transition: all 0.5s, color 0.4s !important;
}
.section.collapsed .header h1, .section.collapsed .header h2, .section.collapsed .header h3, .section.collapsed .header h4, .section.collapsed .header h5, .section.collapsed .header h6  {
  transition: all 0.5s, color 0.4s !important;
  font-size: 2.2rem;
  margin-left: 10px;
}
.section.collapsed .header  {
  padding: 10px !important;
}
.section.collapse .header {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.section.collapse.collapsed .body {
  display: none;
}
body:not(.dark) .section {
  /*background-color:var(--flex-layer2, #f7f7f7);*/
}
body.dark .section {
  /*background-color:var(--flex-layer2, #1c2023);*/
}
.section .header {
	text-align: center;
}
.section .header h3 {
	font-size: 60px;
}

.beta.notice {
  font-size: 20px;
  vertical-align: middle;
  border: 2px solid #ff7e00;
  color: #ff7e00;
  padding: 2px 4px;
  border-radius: 10px;
  display: inline-block;
  margin: 0 7px;
}
.section .header, .section.header {
  padding: 40px;
}
.section .header i, .section.header i {
  font-size: 42px;
  margin-left: 5px;
  vertical-align: middle;
}
.section .body {
  padding: 60px;
  padding-top: 0px;
}

.section .header i {
  margin-right: 10px;
}
.section .header i, .section .header span, .section .header h1, .section .header h2, .section .header h3, .section .header h4, .section .header h5,
.section.header i, .section.header span, .section.header h1, .section.header h2, .section.header h3, .section.header h4, .section.header h5 {
  display: inline-block;
  vertical-align: middle;
}
.section .header, .section.header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Splash Screens */
div.splash {
  display:none;
}

/* Cards */

.card, code, .list .item {
    /* Add shadows to create the "card" effect */
    transition: background-color 0.4s, background 0.4s, box-shadow 0.4s, color 0.4s;
    border-radius: 15px;
    z-index: 10;
}
.card {
    border-radius: 20px;
}
code, .list .item {
padding: 15px;
}
.card {
  padding: 30px;
}
.card i.close {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
    margin: 25px;
}
.list:not(.contextmenu) {
  padding: 3px;
}
.card, code, .contextmenu {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
}
.card.focus {
  position:absolute;
  max-height: calc(100% - 100px);
  overflow: auto;
}
code {
  display:block;
  font-family: monospace, monospace !important;
  font-size: 16px;
  padding: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.17) !important;
  overflow: auto;
}
code xmp {
  margin: 0;
}
/* contextmenus */
.contextmenu {
  position:absolute;
  width: 200px;
  display:none;
}
.contextmenu.list .item {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px;
}
.contextmenu.active {
  display:inline-block;
}
body:not(.dark) .list.contextmenu .item:not(.active):not(.disabled):hover {
  background-color: var(--flex-layer2, #e4e4e4);
}
body.dark .list.contextmenu .item:not(.active):not(.disabled):hover {
  background-color: var(--flex-layer3, #151515);
}
body:not(.dark) .list .item.disabled {
  filter: blur(0.5px);
  background-color: #e7e7e7;
}
body.dark .list .item.disabled {
  filter: blur(0.5px);
  background-color: #32373c;
}
.list:not(.contextmenu) {
  border-radius: 15px;
}
.list.contextmenu, .list.contextmenu .item {
  border-radius: 12px;
}
.list .item {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.9px;
}
.list:not(.contextmenu) .item {
  margin-top: 3px;
  margin-bottom: 3px;
}

.nav {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s !important;
}
.nav.toast {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
}

.card.close {
    display: none;
}


.darkText {
    color: #000000
}


.card:not(.focus){
    position: relative;
}

body.dark code, body.dark .list {
  background-color:var(--flex-layer1, #212121);
}
body.dark .card {
  background-color:var(--flex-light, #292929);
}
body:not(.dark) code, body:not(.dark) .list {
  background-color: var(--flex-layer1, #f1f1f1);
}
body:not(.dark) .card {
  background-color:var(--flex-light, #fdfdfd);
}



.blur {
    filter: blur(20px);
}
.blur, .blur * {
  cursor: default !important;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
#pagewrapper {
  transition: -webkit-filter 0.3s !important;
}

.card.contextmenu {
  display:inline-block;
  padding: 8px;
}




/*

Fluid Core

R.I.P Materialize

*/


.container {
    margin: 0 auto;
    max-width: 1500px;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 90%
    }
    .nav {
      max-width: calc(100% - 30px)
    }
    .fluid.logo {
      display:none;
    }
}
@media only screen and (max-width: 600px) {
    .section {
        border: none !important;
        background-color: transparent !important;
    }
    .section.header, .section .header, .section .body {
      padding: 10px !important;
    }
    input {
      width: 100% !important;
    }
    .btns.row .btn {
      display:block !important;
      width: 100% !important;
    }
    .btns.row {
      width: 100%;
    }
    #reldownload.fluid, #relspace.fluid {
      display: none;
    }
    .nav ul {
      text-align: center;
    }
    .nav li {
      margin: 0 3px;
    }
    .section {
      margin-left: 3px;
      margin-right: 3px;
    }
    .fluid.logo {
      display:none;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 75%
    }
    .nav {
      max-width: 55%
    }
    .fluid.logo {
      display:inline-block;
    }
}

a {
    text-decoration: none;
    color: #039be5;
}
.center {
  text-align: center;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
textarea {
  width: 100%;
  height: 50px;
  margin: 0;
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.row {
  margin-bottom: 20px;

}
h1, h2, h3, h4, h5, h6 {
  line-height: 110%;
}
h1 {
    font-size: 4.2rem;
    margin: 2.1rem 0 1.68rem 0
}

h2 {
    font-size: 3.56rem;
    margin: 1.78rem 0 1.424rem 0
}

h3 {
    font-size: 2.92rem;
    margin: 1.46rem 0 1.168rem 0
}

h4 {
    font-size: 2.28rem;
    margin: 1.14rem 0 .912rem 0
}

h5 {
    font-size: 1.64rem;
    margin: .82rem 0 .656rem 0
}

h6 {
    font-size: 1rem;
    margin: .5rem 0 .4rem 0
}

body {
  margin:0;
}
* {
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.divider {
  width: 100%;
  margin: 0 10px;
  background-color: #b2b2b2;
  height: 3px;
  border-radius: 100px;
}

.space {
 padding: 10px;
 display:inline-block;
 float: left;
 margin: 0px 3px;
}
.space.demo {
  padding: 5px 3px;
  border-radius: 10px;
  text-align:center;
}
.space.c1 {
  width: calc(10% - 6px);
}
.space.c2 {
  width: calc(20% - 6px);
}
.space.c3 {
  width: calc(30% - 6px);
}
.space.c4 {
  width: calc(40% - 6px);
}
.space.c5 {
  width: calc(50% - 6px);
}
.space.c6 {
  width: calc(60% - 6px);
}
.space.c7 {
  width: calc(70% - 6px);
}
.space.c8 {
  width: calc(80% - 6px);
}
.space.c9 {
  width: calc(90% - 6px);
}
.space.c10 {
  width: calc(100% - 6px);
}
